<!DOCTYPE html>
<html>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="styles/small.css" rel= "stylesheet">
        <link href="styles/medium.css" rel= "stylesheet">
        <link href="styles/large.css" rel= "stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
<head>
<style>
ul{
list-style-type: none;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}
li{
    text-decoration: none;
  float: left;
  color: #FEFAFA;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h1{
        font-family:'Cinzel', serif;
        padding-left: 16px;
        font-size: 40px;
        text-align: center;
}
.logo{
        height:100px;
        float:left;
        margin-top:-25px

}
ul{
        font-family: 'Quicksand', sans-serif;
}
div .gallery {
  border: 3px inset #F6E8EA;
}

div.gallery img {
  width: 100%;
  height: auto;
}
div.gallery :hover{
    filter: blur(8px);
  -webkit-filter: blur(4px);
  transition: .5s ease-in-out;
}

div.desc {
  padding: 15px;
  text-align: center;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  background-color: #FFFFE5;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 33%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}