body{
    font-family: 'Raleway', sans-serif;

}

nav {
    background-color: #b3e3e3;
    color: black;
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
    
    
    }
    nav label {
    margin-top: 21px;
    display: block;
    padding: 10px;
    
    }
    
    .list {
    font-size: 1.2em;
    line-height: 40px;
    padding: 0;
    list-style: none;
    display: none;
    }
    
    #menuText:checked ~ .list{
    display: block;
    }
    
    nav input {
    display: none;
    }
    
    ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding-left: 0;
    justify-content: space-around;
    
    }
    
    li {
     min-width: 150px;
     flex-basis: 12.5%;
    
    }
    .list a:visited{
        background-color:#ebebeb;
    }
    
    .list a:hover {
     background-color: #ebebeb;
     padding: 8px;
     border-radius: 4px;
    }
    .list a:active{
     background-color:#ebebeb;
    
    }
    
    .responsive li {
     display: block;
    }
    .parallax-home{
        text-align: center;
        align-content: center;
    }
    
    .cards{
        display:grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        text-align: center;
        margin: 0;
        
    
    }
    .cards section{
        border: 2px solid #b3e3e3;
        margin: 20px;
        padding: 0px;
        text-align: center;
        background-color: #ebebeb;
        border-radius: 10px;
    }
    .cards img{
        height:200px;
        width:200px;
        max-width: 100%;
        border-radius: 10px;
    }
   h3{
       color: #52489c;
       font-size: 30px;;
   }
   .motto{
       font-style: italic;
       font-weight: bold;
       color: gray;
   }
   .yearFounded{
       font-size: 20px;
   }
   .currentPopulation{
       font-size: 20px;
   }
   .averageRainfall{
       font-size: 20px;
   }
    


    @media only screen and (min-width: 32.5em) {

   

        nav label {
            display: none;
        }
        
        .list {
            display: flex;
        }
        
        .list li {
            display: inline-block;
        }
        
        .list li a {
            color: black;
            text-decoration: none;
        }
        table {
          border-collapse: collapse;
          width: 100%;
          background-color:#b3e3e3;
        }
        
        td, th {
          border: 1px solid black;
          text-align: left;
          padding: 8px;
        }
        .logo{
            max-width: 50%;
        }
    }