li {
    float:left;
    margin:8px 90px;
    list-style: none;
    padding-left: 0;
}
li a{
    text-decoration: none;
}
body {
    margin: 0;
    font-family: 'Muli', sans-serif;

}
h1{
    display:grid;
}



.colorscheme{
    max-width:100%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #B3E3E3;
    padding: 10px;
  }
  .grid-item {
    background-color: #B3E3E3;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.topnav {
  overflow: hidden;
  background-color:black;
}

.topnav a {
  float: left;
  color: #B3E3E3;
  text-align: center;
  padding: 10px;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #52489C;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
#cloudlogo{
height:90px;
}